.modal {
  // display: flex;
  width: 80%;
  max-width: 800px;
  padding: 16px;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 120px);
  align-items: flex-start;
}

.contents {
  margin-left: 20px;
  flex: 1;
}

.nameWrapper {
  position: relative;
}

.image {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.name {
  font-size: 20px;
  padding-left: 56px;
  margin: 0;
  height: 48px;
  line-height: 48px;
}

.profile {
  margin-top: 12px;
  font-size: 12px;
  white-space: pre-wrap;
}

.inputForm {
  display: flex;
}

.textField {
  width: 100%;
  margin-right: 4px !important;
}

.selectBox {
  min-width: 63px !important;
}

.image_icon_wrap {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.image_icon {
  width: 100%;
}

.selectIcon {
  border: solid 1px #cccccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.selectIconImg {
  width: 48px;
}

.downIcon {
  color: rgba(0, 0, 0, 0.54);
}

.selectIconModal {
  display: flex;
  align-items: center;
}