.root {
  flex-grow: 1;
}

.paper {
  padding: 16px;
  margin: "auto";
  max-width: 500px;
}

.image {
  width: 100px;
  height: 100px;
}

.button {
  margin: 10px !important;
  word-break: keep-all;
}

.threePointReader {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}