.badge {
  top: 12;
}

.main {
  height: calc(100% - 64px);
  position: relative;
}

.content {
  height: 100%;
  overflow: scroll;
}

.mailListRow {
  min-height: 100px;
  padding: 10px 12px 0 8px;
  position: relative;
}

.image {
  width: 80px;
  height: 80px;
}

.warningBox {
  width: 100%;
}

.warningBox__contents {
  display: inline-block;
  width: calc(100% - 32px);
  border-color: #f2c744;
  background-color: #fcf4da;
  border-radius: 4px;
  font-size: 16px;
  color: #454245;
  position: relative;
  padding: 16px;
}

.warningBox__infoText {
  display: block;
  padding-left: 20px;
}

.warningBox__infoIcon {
  color: #f2c744;
  position: absolute;
  top: 15px;
  left: 8px;
}

.closeIcon {
  position: absolute;
  top: 4px;
  right: 4px;
}

.timeLineLink {
  text-decoration: none;
}

.timeLineButton {
  margin-top: 8px;
}