.main {
  height: calc(100% - 64px - 56px - 60px);
}

.title {
  margin-left: 12px;
}

.content {
  height: 100%;
  overflow: scroll;
}

.nameContents {
  padding: 0 8px;
  width: calc(100% - 16px);
}

.nameText {
  margin-right: 6px !important;
  margin-bottom: 6px !important;
}

.inputSelect {
  margin-right: 6px !important;
  margin-bottom: 6px !important;
}

.textfield {
  margin: 8px !important;
  width: calc(100% - 16px);

  & textarea {
    resize: vertical !important;
  }
}

.selectIcon {
  border: solid 1px #cccccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.selectIconImg {
  width: 52px;
}

.image {
  height: 100%;
  max-width: 100%;
  margin: auto;
}

.image_icon_wrap {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.image_icon {
  width: 100%;
}

.downIcon {
  color: rgba(0, 0, 0, 0.54);
}

.selectIconModal {
  display: flex;
  align-items: center;
}