.App {
  text-align: center;
}

header {
  max-height: 64px;
}

.title {
  height: 32px;
  margin-right: 36px;
}

.logo {
  height: 32px;
}

.tabLabel {
  font-weight: bold;
}

// スクロールバーのデザイン
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* スクロールの背景の設定 */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0) inset;
  }

  /* スクロールのつまみ部分の設定 */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bbb;
  }
}